.shadow-effect {
  background: linear-gradient(to bottom right, #f8fbfd, #b4b7c3);
  padding: 24px;
  border-radius: 0;
  text-align: center;
  border: 12px solid #fff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

#customers-testimonials .shadow-effect p {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  font-weight: 400;
  color: #020e38;
}

#customers-testimonials .item {
  text-align: center;
  padding: 30px;
  margin-bottom: 80px;
  opacity: 0.5;
  transform: scale3d(0.85, 0.85, 1);
  transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  transform: scale3d(1.0, 1.0, 1);
}


#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #172954;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #172954;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}